@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --body-body-font-family: "Inter", Helvetica;
  --body-body-font-size: 16px;
  --body-body-font-style: normal;
  --body-body-font-weight: 400;
  --body-body-letter-spacing: 0.16px;
  --body-body-line-height: 24px;
  --body-body-large-font-family: "Inter", Helvetica;
  --body-body-large-font-size: 16px;
  --body-body-large-font-style: normal;
  --body-body-large-font-weight: 400;
  --body-body-large-letter-spacing: 0.16px;
  --body-body-large-line-height: 24px;
  --button-default-font-family: "Inter", Helvetica;
  --button-default-font-size: 16px;
  --button-default-font-style: normal;
  --button-default-font-weight: 700;
  --button-default-letter-spacing: 0px;
  --button-default-line-height: 24px;
  --components-button-default-font-family: "Inter", Helvetica;
  --components-button-default-font-size: 16px;
  --components-button-default-font-style: normal;
  --components-button-default-font-weight: 700;
  --components-button-default-letter-spacing: 0px;
  --components-button-default-line-height: 150%;
  --components-button-small-font-family: "Inter", Helvetica;
  --components-button-small-font-size: 14px;
  --components-button-small-font-style: normal;
  --components-button-small-font-weight: 700;
  --components-button-small-letter-spacing: 0px;
  --components-button-small-line-height: 150%;
  --components-button-large-font-family: "Inter", Helvetica;
  --components-button-large-font-size: 20px;
  --components-button-large-font-style: normal;
  --components-button-large-font-weight: 700;
  --components-button-large-letter-spacing: 0px;
  --components-button-large-line-height: 150%;
  --components-field-default-font-family: "Inter", Helvetica;
  --components-field-default-font-size: 16px;
  --components-field-default-font-style: normal;
  --components-field-default-font-weight: 400;
  --components-field-default-letter-spacing: 0px;
  --components-field-default-line-height: 150%;
  --components-fieldcontrol-default-font-family: "Inter", Helvetica;
  --components-fieldcontrol-default-font-size: 16px;
  --components-fieldcontrol-default-font-style: normal;
  --components-fieldcontrol-default-font-weight: 400;
  --components-fieldcontrol-default-letter-spacing: 0px;
  --components-fieldcontrol-default-line-height: 150%;
  --components-fieldcontrol-quiet: ;
  --componentsalertbackgroundcolor: rgba(239, 240, 240, 1);
  --componentsalerterrorbackgroundcolor: rgba(252, 233, 233, 1);
  --componentsalertinfobackgroundcolor: rgba(230, 238, 254, 1);
  --componentsalertsuccessbackgroundcolor: rgba(235, 250, 237, 1);
  --componentsalertwarningbackgroundcolor: rgba(252, 242, 233, 1);
  --componentsbadgebackgroundcolor: rgba(239, 240, 240, 1);
  --componentsbadgeerrorbackgroundcolor: rgba(252, 233, 233, 1);
  --componentsbadgeinfobackgroundcolor: rgba(230, 238, 254, 1);
  --componentsbadgesuccessbackgroundcolor: rgba(235, 250, 237, 1);
  --componentsbadgewarningbackgroundcolor: rgba(252, 242, 233, 1);
  --componentsbuttonbordercolor: rgba(137, 148, 159, 1);
  --componentsbuttoncolor: rgba(13, 26, 38, 1);
  --componentsbuttondestructivebackgroundcolor: rgba(191, 64, 64, 1);
  --componentsbuttondestructivebordercolor: rgba(0, 0, 0, 0);
  --componentsbuttondestructivedisabledbackgroundcolor: rgba(239, 240, 240, 1);
  --componentsbuttondisabledbordercolor: rgba(239, 240, 240, 1);
  --componentsbuttonlinkcolor: rgba(4, 125, 149, 1);
  --componentsbuttonprimarybackgroundcolor: rgba(4, 125, 149, 1);
  --componentsbuttonprimarybordercolor: rgba(0, 0, 0, 0);
  --componentsbuttonprimarycolor: rgba(255, 255, 255, 1);
  --componentsbuttonprimarydisabledbackgroundcolor: rgba(239, 240, 240, 1);
  --componentsbuttonwarningbackgroundcolor: rgba(0, 0, 0, 0);
  --componentsbuttonwarningbordercolor: rgba(191, 64, 64, 1);
  --componentsbuttonwarningdisabledbackgroundcolor: rgba(0, 0, 0, 0);
  --componentsbuttonwarningdisabledbordercolor: rgba(239, 240, 240, 1);
  --componentscardoutlinedbordercolor: rgba(174, 179, 183, 1);
  --componentscheckboxbuttoncolor: rgba(255, 255, 255, 1);
  --componentscheckboxiconbackgroundcolor: rgba(4, 125, 149, 1);
  --componentsdividerbordercolor: rgba(137, 148, 159, 1);
  --componentsfieldcontrolbordercolor: rgba(0, 0, 0, 1);
  --componentsfieldcontrolplaceholdercolor: rgba(128, 128, 128, 1);
  --componentsfieldlabelcolor: rgba(48, 64, 80, 1);
  --componentsfieldmessagesdescriptioncolor: rgba(48, 64, 80, 1);
  --colorsbackgrounderror: rgba(252, 233, 233, 1);
  --colorsbackgroundinfo: rgba(230, 238, 254, 1);
  --colorsbackgroundprimary: rgba(255, 255, 255, 1);
  --colorsbackgroundsecondary: rgba(250, 250, 250, 1);
  --colorsbackgroundtertiary: rgba(239, 240, 240, 1);
  --colorsblue-80: rgba(4, 52, 149, 1);
  --colorsbordererror: rgba(149, 4, 4, 1);
  --colorsbrandprimary-10: rgba(233, 249, 252, 1);
  --colorsbrandprimary-100: rgba(0, 64, 77, 1);
  --colorsbrandprimary-60: rgba(64, 170, 191, 1);
  --colorsbrandprimary-80: rgba(4, 125, 149, 1);
  --colorsbrandprimary-90: rgba(0, 85, 102, 1);
  --colorsbrandsecondary-60: rgba(191, 64, 191, 1);
  --colorsfonterror: rgba(102, 0, 0, 1);
  --colorsfontinfo: rgba(0, 34, 102, 1);
  --colorsfontinteractive: rgba(4, 125, 149, 1);
  --colorsfontprimary: rgba(13, 26, 38, 1);
  --colorsfontsecondary: rgba(48, 64, 80, 1);
  --colorsfonttertiary: rgba(92, 102, 112, 1);
  --colorsneutral-40: rgba(220, 222, 224, 1);
  --colorsneutral-60: rgba(137, 148, 159, 1);
  --colorswhite: rgba(255, 255, 255, 1);
  --drop-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1),
    0px 2px 2px 0px rgba(0, 0, 0, 0.1);
  --dropshadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1),
    0px 2px 2px 0px rgba(0, 0, 0, 0.1);
  --fieldmessages-description-default-font-family: "Inter", Helvetica;
  --fieldmessages-description-default-font-size: 14px;
  --fieldmessages-description-default-font-style: italic;
  --fieldmessages-description-default-font-weight: 400;
  --fieldmessages-description-default-letter-spacing: 0px;
  --fieldmessages-description-default-line-height: 20px;
  --grayscalewhite: rgba(255, 255, 255, 1);
  --heading-h4-font-family: "Inter", Helvetica;
  --heading-h4-font-size: 24px;
  --heading-h4-font-style: normal;
  --heading-h4-font-weight: 600;
  --heading-h4-letter-spacing: 0px;
  --heading-h4-line-height: 30px;
  --label-default-font-family: "Inter", Helvetica;
  --label-default-font-size: 16px;
  --label-default-font-style: normal;
  --label-default-font-weight: 400;
  --label-default-letter-spacing: 0px;
  --label-default-line-height: 24px;
  --medium-font-family: "Inter", Helvetica;
  --medium-font-size: 16px;
  --medium-font-style: normal;
  --medium-font-weight: 400;
  --medium-letter-spacing: 0px;
  --medium-line-height: 150%;
  --shadows-medium: 0px 2px 6px 0px rgba(13, 26, 38, 0.15);
  --shadows-small: 0px 2px 4px 0px rgba(13, 26, 38, 0.05);
  --xxxl-font-family: "Inter", Helvetica;
  --xxxl-font-size: 40px;
  --xxxl-font-style: normal;
  --xxxl-font-weight: 400;
  --xxxl-letter-spacing: 0px;
  --xxxl-line-height: 150%;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
