@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --backgroundsprimary: rgba(255, 255, 255, 1);
  --body-large-bd-font-family: "Delivery", Helvetica;
  --body-large-bd-font-size: 16px;
  --body-large-bd-font-style: normal;
  --body-large-bd-font-weight: 700;
  --body-large-bd-letter-spacing: 0px;
  --body-large-bd-line-height: normal;
  --body-large-rg-font-family: "Delivery", Helvetica;
  --body-large-rg-font-size: 16px;
  --body-large-rg-font-style: normal;
  --body-large-rg-font-weight: 400;
  --body-large-rg-letter-spacing: 0px;
  --body-large-rg-line-height: normal;
  --body-large-rg-underlined-font-family: "Delivery", Helvetica;
  --body-large-rg-underlined-font-size: 16px;
  --body-large-rg-underlined-font-style: normal;
  --body-large-rg-underlined-font-weight: 400;
  --body-large-rg-underlined-letter-spacing: 0px;
  --body-large-rg-underlined-line-height: normal;
  --body-medium-bd-font-family: "Delivery", Helvetica;
  --body-medium-bd-font-size: 14px;
  --body-medium-bd-font-style: normal;
  --body-medium-bd-font-weight: 700;
  --body-medium-bd-letter-spacing: 0px;
  --body-medium-bd-line-height: 18px;
  --body-medium-rg-font-family: "Delivery", Helvetica;
  --body-medium-rg-font-size: 14px;
  --body-medium-rg-font-style: normal;
  --body-medium-rg-font-weight: 400;
  --body-medium-rg-letter-spacing: 0px;
  --body-medium-rg-line-height: 18px;
  --body-medium-rg-underlined-font-family: "Delivery", Helvetica;
  --body-medium-rg-underlined-font-size: 14px;
  --body-medium-rg-underlined-font-style: normal;
  --body-medium-rg-underlined-font-weight: 400;
  --body-medium-rg-underlined-letter-spacing: 0px;
  --body-medium-rg-underlined-line-height: 18px;
  --card-drop-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2);
  --colorred500-d40511-dhl-red: rgba(212, 5, 17, 1);
  --copy-large-font-family: "Delivery", Helvetica;
  --copy-large-font-size: 20px;
  --copy-large-font-style: normal;
  --copy-large-font-weight: 400;
  --copy-large-letter-spacing: 0px;
  --copy-large-line-height: 30px;
  --copy-medium-bold-font-family: "Delivery", Helvetica;
  --copy-medium-bold-font-size: 14px;
  --copy-medium-bold-font-style: normal;
  --copy-medium-bold-font-weight: 700;
  --copy-medium-bold-letter-spacing: 0px;
  --copy-medium-bold-line-height: 18px;
  --copy-text-font-family: "Delivery", Helvetica;
  --copy-text-font-size: 16px;
  --copy-text-font-style: normal;
  --copy-text-font-weight: 400;
  --copy-text-letter-spacing: 0px;
  --copy-text-line-height: 28px;
  --desktop-body-copy-bold-font-family: "Delivery", Helvetica;
  --desktop-body-copy-bold-font-size: 16px;
  --desktop-body-copy-bold-font-style: normal;
  --desktop-body-copy-bold-font-weight: 700;
  --desktop-body-copy-bold-letter-spacing: 0px;
  --desktop-body-copy-bold-line-height: 19.200000762939453px;
  --desktop-body-copy-font-family: "Delivery", Helvetica;
  --desktop-body-copy-font-size: 16px;
  --desktop-body-copy-font-style: normal;
  --desktop-body-copy-font-weight: 400;
  --desktop-body-copy-letter-spacing: 0px;
  --desktop-body-copy-line-height: 19.200000762939453px;
  --desktop-body-copy-small-bold-font-family: "Delivery", Helvetica;
  --desktop-body-copy-small-bold-font-size: 14px;
  --desktop-body-copy-small-bold-font-style: normal;
  --desktop-body-copy-small-bold-font-weight: 700;
  --desktop-body-copy-small-bold-letter-spacing: 0px;
  --desktop-body-copy-small-bold-line-height: 16.100000381469727px;
  --desktop-body-copy-small-font-family: "Delivery", Helvetica;
  --desktop-body-copy-small-font-size: 14px;
  --desktop-body-copy-small-font-style: normal;
  --desktop-body-copy-small-font-weight: 400;
  --desktop-body-copy-small-letter-spacing: 0px;
  --desktop-body-copy-small-line-height: 16.100000381469727px;
  --desktop-heading3-blk-font-family: "Delivery", Helvetica;
  --desktop-heading3-blk-font-size: 32px;
  --desktop-heading3-blk-font-style: normal;
  --desktop-heading3-blk-font-weight: 900;
  --desktop-heading3-blk-letter-spacing: 0px;
  --desktop-heading3-blk-line-height: 32px;
  --desktop-heading4-blk-font-family: "Delivery", Helvetica;
  --desktop-heading4-blk-font-size: 24px;
  --desktop-heading4-blk-font-style: normal;
  --desktop-heading4-blk-font-weight: 900;
  --desktop-heading4-blk-letter-spacing: 0px;
  --desktop-heading4-blk-line-height: 24px;
  --desktop-heading4-rg-font-family: "Delivery", Helvetica;
  --desktop-heading4-rg-font-size: 18px;
  --desktop-heading4-rg-font-style: normal;
  --desktop-heading4-rg-font-weight: 400;
  --desktop-heading4-rg-letter-spacing: 0px;
  --desktop-heading4-rg-line-height: normal;
  --desktop-headline-large-font-family: "Delivery", Helvetica;
  --desktop-headline-large-font-size: 48px;
  --desktop-headline-large-font-style: normal;
  --desktop-headline-large-font-weight: 900;
  --desktop-headline-large-letter-spacing: 0px;
  --desktop-headline-large-line-height: normal;
  --desktop-headline-main-font-family: "Delivery", Helvetica;
  --desktop-headline-main-font-size: 40px;
  --desktop-headline-main-font-style: normal;
  --desktop-headline-main-font-weight: 900;
  --desktop-headline-main-letter-spacing: 0px;
  --desktop-headline-main-line-height: 68px;
  --desktop-headline-secondary-font-family: "Delivery", Helvetica;
  --desktop-headline-secondary-font-size: 32px;
  --desktop-headline-secondary-font-style: normal;
  --desktop-headline-secondary-font-weight: 900;
  --desktop-headline-secondary-letter-spacing: 0px;
  --desktop-headline-secondary-line-height: 49.599998474121094px;
  --desktop-paragraph-header-bold-font-family: "Delivery", Helvetica;
  --desktop-paragraph-header-bold-font-size: 18px;
  --desktop-paragraph-header-bold-font-style: normal;
  --desktop-paragraph-header-bold-font-weight: 700;
  --desktop-paragraph-header-bold-letter-spacing: 0px;
  --desktop-paragraph-header-bold-line-height: 22.5px;
  --desktop-paragraph-header-font-family: "Delivery", Helvetica;
  --desktop-paragraph-header-font-size: 18px;
  --desktop-paragraph-header-font-style: normal;
  --desktop-paragraph-header-font-weight: 400;
  --desktop-paragraph-header-letter-spacing: 0px;
  --desktop-paragraph-header-line-height: 22.5px;
  --desktop-section-header-condensed-font-family: "Delivery", Helvetica;
  --desktop-section-header-condensed-font-size: 24px;
  --desktop-section-header-condensed-font-style: normal;
  --desktop-section-header-condensed-font-weight: 900;
  --desktop-section-header-condensed-letter-spacing: 0px;
  --desktop-section-header-condensed-line-height: 33.599998474121094px;
  --desktop-section-header-font-family: "Delivery", Helvetica;
  --desktop-section-header-font-size: 24px;
  --desktop-section-header-font-style: normal;
  --desktop-section-header-font-weight: 700;
  --desktop-section-header-letter-spacing: 0px;
  --desktop-section-header-line-height: 33.599998474121094px;
  --desktop-section-header-small-bold-font-family: "Delivery", Helvetica;
  --desktop-section-header-small-bold-font-size: 20px;
  --desktop-section-header-small-bold-font-style: normal;
  --desktop-section-header-small-bold-font-weight: 700;
  --desktop-section-header-small-bold-letter-spacing: 0px;
  --desktop-section-header-small-bold-line-height: 26px;
  --dhl-red: rgba(212, 5, 17, 1);
  --gray-05: rgba(242, 242, 242, 1);
  --gray-10: rgba(229, 229, 229, 1);
  --gray-20: rgba(204, 204, 204, 1);
  --gray-30: rgba(178, 178, 178, 1);
  --gray-45: rgba(140, 140, 140, 1);
  --gray-60: rgba(102, 102, 102, 1);
  --gray-80: rgba(51, 51, 51, 1);
  --grey-05: rgba(242, 242, 242, 1);
  --grey-20: rgba(204, 204, 204, 1);
  --grey-45: rgba(140, 140, 140, 1);
  --grey-80: rgba(51, 51, 51, 1);
  --larger-copy-bold-compact-font-family: "Delivery", Helvetica;
  --larger-copy-bold-compact-font-size: 20px;
  --larger-copy-bold-compact-font-style: normal;
  --larger-copy-bold-compact-font-weight: 700;
  --larger-copy-bold-compact-letter-spacing: 0px;
  --larger-copy-bold-compact-line-height: 28px;
  --light-green: rgba(118, 189, 34, 1);
  --light-labels-1primary: rgba(0, 0, 0, 1);
  --mobile-body-copy-font-family: "Delivery", Helvetica;
  --mobile-body-copy-font-size: 16px;
  --mobile-body-copy-font-style: normal;
  --mobile-body-copy-font-weight: 400;
  --mobile-body-copy-letter-spacing: 0px;
  --mobile-body-copy-line-height: 19.200000762939453px;
  --mobile-body-copy-med-bold-font-family: "Delivery", Helvetica;
  --mobile-body-copy-med-bold-font-size: 14px;
  --mobile-body-copy-med-bold-font-style: normal;
  --mobile-body-copy-med-bold-font-weight: 700;
  --mobile-body-copy-med-bold-letter-spacing: 0px;
  --mobile-body-copy-med-bold-line-height: 16.100000381469727px;
  --mobile-body-copy-med-font-family: "Delivery", Helvetica;
  --mobile-body-copy-med-font-size: 14px;
  --mobile-body-copy-med-font-style: normal;
  --mobile-body-copy-med-font-weight: 400;
  --mobile-body-copy-med-letter-spacing: 0px;
  --mobile-body-copy-med-line-height: 16.100000381469727px;
  --mobile-body-copy-small-bold-font-family: "Delivery", Helvetica;
  --mobile-body-copy-small-bold-font-size: 12px;
  --mobile-body-copy-small-bold-font-style: normal;
  --mobile-body-copy-small-bold-font-weight: 700;
  --mobile-body-copy-small-bold-letter-spacing: 0px;
  --mobile-body-copy-small-bold-line-height: 12px;
  --mobile-body-copy-small-font-family: "Delivery", Helvetica;
  --mobile-body-copy-small-font-size: 12px;
  --mobile-body-copy-small-font-style: normal;
  --mobile-body-copy-small-font-weight: 400;
  --mobile-body-copy-small-letter-spacing: 0px;
  --mobile-body-copy-small-line-height: 12px;
  --mobile-heading2-font-family: "Delivery", Helvetica;
  --mobile-heading2-font-size: 24px;
  --mobile-heading2-font-style: normal;
  --mobile-heading2-font-weight: 900;
  --mobile-heading2-letter-spacing: 0px;
  --mobile-heading2-line-height: 24px;
  --mobile-heading4-bd-font-family: "Delivery", Helvetica;
  --mobile-heading4-bd-font-size: 18px;
  --mobile-heading4-bd-font-style: normal;
  --mobile-heading4-bd-font-weight: 700;
  --mobile-heading4-bd-letter-spacing: 0px;
  --mobile-heading4-bd-line-height: normal;
  --mobile-heading4-rg-font-family: "Delivery", Helvetica;
  --mobile-heading4-rg-font-size: 18px;
  --mobile-heading4-rg-font-style: normal;
  --mobile-heading4-rg-font-weight: 400;
  --mobile-heading4-rg-letter-spacing: 0px;
  --mobile-heading4-rg-line-height: normal;
  --mobile-heading5-bd-font-family: "Delivery", Helvetica;
  --mobile-heading5-bd-font-size: 16px;
  --mobile-heading5-bd-font-style: normal;
  --mobile-heading5-bd-font-weight: 700;
  --mobile-heading5-bd-letter-spacing: 0px;
  --mobile-heading5-bd-line-height: normal;
  --mobile-heading5-rg-font-family: "Delivery", Helvetica;
  --mobile-heading5-rg-font-size: 16px;
  --mobile-heading5-rg-font-style: normal;
  --mobile-heading5-rg-font-weight: 400;
  --mobile-heading5-rg-letter-spacing: 0px;
  --mobile-heading5-rg-line-height: normal;
  --mobile-headline-main-font-family: "Delivery", Helvetica;
  --mobile-headline-main-font-size: 30px;
  --mobile-headline-main-font-style: normal;
  --mobile-headline-main-font-weight: 900;
  --mobile-headline-main-letter-spacing: 0px;
  --mobile-headline-main-line-height: 45px;
  --mobile-headline-secondary-font-family: "Delivery", Helvetica;
  --mobile-headline-secondary-font-size: 24px;
  --mobile-headline-secondary-font-style: normal;
  --mobile-headline-secondary-font-weight: 900;
  --mobile-headline-secondary-letter-spacing: 0px;
  --mobile-headline-secondary-line-height: 33.599998474121094px;
  --mobile-paragraph-header-font-family: "Delivery", Helvetica;
  --mobile-paragraph-header-font-size: 16px;
  --mobile-paragraph-header-font-style: normal;
  --mobile-paragraph-header-font-weight: 700;
  --mobile-paragraph-header-letter-spacing: 0px;
  --mobile-paragraph-header-line-height: 19.200000762939453px;
  --mobile-section-header-font-family: "Delivery", Helvetica;
  --mobile-section-header-font-size: 18px;
  --mobile-section-header-font-style: normal;
  --mobile-section-header-font-weight: 700;
  --mobile-section-header-letter-spacing: 0px;
  --mobile-section-header-line-height: 22.5px;
  --paragraph-medium-bold-font-family: "Delivery", Helvetica;
  --paragraph-medium-bold-font-size: 14px;
  --paragraph-medium-bold-font-style: normal;
  --paragraph-medium-bold-font-weight: 700;
  --paragraph-medium-bold-letter-spacing: 0px;
  --paragraph-medium-bold-line-height: 20px;
  --paragraph-medium-font-family: "Delivery", Helvetica;
  --paragraph-medium-font-size: 14px;
  --paragraph-medium-font-style: normal;
  --paragraph-medium-font-weight: 400;
  --paragraph-medium-letter-spacing: 0px;
  --paragraph-medium-line-height: 20px;
  --primaryblack: rgba(0, 0, 0, 1);
  --primarydhl-red: rgba(212, 5, 17, 1);
  --primarypostyellow: rgba(255, 204, 0, 1);
  --primarywhite: rgba(255, 255, 255, 1);
  --SECONDARY-HEADLINE-font-family: "Delivery", Helvetica;
  --SECONDARY-HEADLINE-font-size: 44px;
  --SECONDARY-HEADLINE-font-style: normal;
  --SECONDARY-HEADLINE-font-weight: 900;
  --SECONDARY-HEADLINE-letter-spacing: 0px;
  --SECONDARY-HEADLINE-line-height: 44px;
  --secondarylight-yellow: rgba(253, 250, 236, 1);
  --shadow-15: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
  --web-black: rgba(0, 0, 0, 0.9);
  --white: rgba(255, 255, 255, 1);
}

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
